.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(6, 4, 82, 0.674);
  border-radius: 7px;
}
h2 {
  text-decoration: none;
}
.navbar {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: #fff;
}

.link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding-left: 15px;
}

.link-a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
}

button {
  font-size: 18px;
  margin: 8px;
  cursor: pointer;
}

@media all and (min-width: 86px) and (max-width: 450px) {
  .header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .link {
    border-bottom: 2px solid #fff;
  }
  .link-a {
    justify-content: center;
    text-align: center;
    margin-left: 25px;
  }
}
