.post {
  background-color: #1e447d;
  color: #fff;
  border-radius: 7px;
  padding: 20px;
  margin: 50px;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.posts {
  font-size: large;
  font-weight: 200;
}

.author {
  font-size: medium;
  font-weight: bolder;
}

.flex_1 {
  display: flex;
  justify-content: space-between;
}

.btn-dl:hover {
  background-color: red;
}

.btn-hm:hover {
  background-color: green;
}
