.post {
  background-color: #3f3f3f;
  color: #fff;
  border-radius: 7px;
  padding: 20px;
  margin: 50px;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.posts {
  font-size: large;
  font-weight: 200;
}

.author {
  font-size: medium;
  font-weight: bolder;
}

.flex_1 {
  display: flex;
  justify-content: space-between;
}

.btn-dl:hover {
  background-color: red;
}

.btn-hm:hover {
  background-color: green;
}

@media all and (min-width: 86px) and (max-width: 450px) {
  .post {
    padding: 8px;
    margin: 10px;
  }
}

@media all and (min-width: 451px) and (max-width: 850px) {
  .post {
    padding: 15px;
    margin: 20px;
  }
}
